@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-Bold.ttf') format('truetype');
    font-weight: 700;
}

@import '../variables.scss';

/* 공통 */
* {
    font-family: 'LG Smart', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    box-sizing: border-box;
    margin: 0;
}

html, body, #root{
    height: 100vh;
    overflow: auto;
}

#root::-webkit-scrollbar {
    width: 8px;
  }
  
  #root::-webkit-scrollbar-thumb {
    background-color: $border-color-gery;
    border-radius: 4px;
  }
  
  #root::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }  

.cell-select-box > *:hover {
    background-color: $hover-color-pink;
    border: none;
    
  }

.inner-container {
    max-width: 1560px;
    margin: 0 auto;
    height: calc(100vh - 81px);
}

.write-btn {
    position: absolute;
    bottom: -41px;
    right: 0;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background: $primary-color-red; color: white;
    display: flex;
    align-items: center;
    justify-content: center; 

    span {
        font-weight: 600; font-size: 14px; line-height: 16px; text-align: center; letter-spacing: 0.025em;
    }
}

.max-length-txt {
    text-overflow: ellipsis; 
}

/* 그리드 */
.ag-theme-alpine {
    --ag-alpine-active-color: #FAF1F4 !important;
    --ag-selected-row-background-color: #FAF1F4 !important;
    --ag-row-hover-color: #FAF1F4 !important;
    --ag-column-hover-color: #FAF1F4 !important;
    --ag-input-focus-border-color: #FAF1F4 !important;
    --ag-range-selection-background-color: #FAF1F4 !important;
    --ag-range-selection-background-color-2: #FAF1F4 !important;
    --ag-range-selection-background-color-3: #FAF1F4 !important;
    --ag-range-selection-background-color-4: #FAF1F4 !important;
    --ag-invalid-color: #FAF1F4 !important;
    --ag-checkbox-checked-color: #BB0841 !important;
    --ag-range-selection-border: none !important;
    --ag-range-selection-border-color: #BB0841 !important;
    --ag-input-border-color-invalid: #BB0841 !important;
    --ag-input-focus-box-shadow: 0 0 2px 0.1rem #FAF1F4 !important;
    // min-height: 700px;
    height: min-content;
}

.ag-header-group-cell-label, .ag-header-cell-label {
    display: flex;
    justify-content: center !important;
} 

.ag-header, .ag-row {
    text-align: center;
}

.ag-header-cell-text, .ag-header-group-text, .ag-cell-last-left-pinned {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.ag-body-horizontal-scroll {
    display: none !important;
}

// .ag-cell-focus, 
.ag-cell-inline-editing {
    background-color: white; font-weight: 700;
}

.ag-cell-inline-editing input {
    border: none !important; text-align: center;
}

.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
    border: 1px solid $primary-color-red !important;
}

.ag-header-icon.ag-header-cell-menu-button {
    display: none !important;
}

.ag-header-cell:not(:nth-last-child(1)),
.ag-header-group-cell:not(:nth-last-child(1)),
.ag-ltr .ag-cell:not(:nth-last-child(1)) {
    border-right: var(--ag-row-border-style) var(--ag-row-border-color) var(--ag-row-border-width) !important;
}

.ag-cell.cell-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ag-popup {
    position: absolute;
}

/* 스크롤바 스타일링 */
 .ag-body-vertical-scroll-viewport::-webkit-scrollbar {
    width: 8px;
  }
  
  .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .ag-body-vertical-scroll-viewport::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  } 
  
/* 페이징 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 47px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 5px;
}

ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: $chart-color-grey;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: $primary-color-red; 
    font-weight: 600;
}

ul.pagination li.active {
    background-color: white !important; 
    border: 2px solid $primary-color-red; 
    border-radius: 6px;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: $primary-color-red;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: $hover-color-pink;
}
body .modal {
    overflow: hidden;
}
/* 공통 CSS */
.custom-stress-txt {
    color: $primary-color-red;
}

.comment-cnt{
    display: contents;
}

.custom-flex-item {
    display: flex;
}

.custom-self-align {
    align-self: center;
}

.custom-align-item {
    align-items: center;
}

.custom-hyphen {
    padding: 0 5px;
}

.custom-justify-between {
    justify-content: space-between;
}
.custom-justify-center {
    justify-content: center;
}
.custom-txt-align {
    text-align: center;
}

.custom-hover:hover {
    background-color: $hover-color-pink; color: $primary-color-red; font-weight: 700;
}

.primary-red-btn {
    background-color: $primary-color-red; color: white;
}
/* Fav tab */
.tab-container {
    position: absolute;
    left: 0;
    width: 100px;
    background: $primary-color-red; color: white;
    top: 50%; width: 32px; 
    height: 120px;font-size: 14px; letter-spacing: 0.14px;
    writing-mode: vertical-lr; box-shadow: 1px 1px 10px 0px rgba(187, 8, 65, 0.36); border-radius: 0px 4px 4px 0px;
}

body .modal {
    overflow: hidden;
}

/* 에디터 */
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused),
.ck.ck-editor__main>.ck-editor__editable:not(.ck-blurred) {
    border: none;
    border-top: 1px solid $border-color-gery;
    border-bottom: 1px solid $border-color-gery;
    min-height: 430px; 
    padding: 20px; 
}
.ck-editor__main{
    border: 1px solid $border-color-gery;
}
select:focus,
input:focus {
    outline: none;
}

.label-txt {
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.025em;
}

.editor-top > div {
    display: flex;
    padding: 20px;
    align-items: center;height: 70px;
    label,
    .label-txt {
        font-weight: 600;
        font-size: 16px;
        line-height: 17px; letter-spacing: 0.025em;
        width: 120px;
        
    }
    input {
        flex-grow: 4; border: none; border-bottom: 1px solid $border-color-gery
    }
}

.editor-middle {
    & > div:first-child {
        padding: 20px;
    }
    .label-txt {
        font-weight: 600;
        font-size: 16px;
        line-height: 17px; letter-spacing: 0.025em;
        min-width: 120px;
    }
    .editor-attchment {
        width: 188px; height: 40px; border: 1px solid $border-color-gery; border-radius: 5px; margin-right: 10px;
    }
    .file-upload-btn {
        background-color: #E8E8E8; width: 72px; height: 40px; border-radius: 100px;
    }
}
.editor-container::-webkit-scrollbar {
    width: 8px;
}
  
.editor-container::-webkit-scrollbar-thumb {
    background-color: $border-color-gery;
    border-radius: 4px;
}

.editor-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}  

.editor-container { // Editor.js
    border: 1px solid $border-color-gery; 
    border-radius: 14px;
    height: 800px; 
    overflow: auto;

    .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused),
    .ck.ck-editor__main>.ck-editor__editable:not(.ck-blurred) {
        border: 1px solid #D5D5D5;
    }

    .write-row {
        display: flex;

        > div {
            padding: 15px 30px;
        }

        .radio-row {
            padding: 25px 30px;
        }

        .left {
            width: 25%;
            border-right: 1px solid $line-color-grey;
            border-bottom: 1px solid $line-color-grey;

            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 17px;
                color: #2B2B2B;
            }

            svg {
                margin-left: 5px;
            }
        }

        .right {
            width: 75%;
            border-bottom: 1px solid $line-color-grey;

            span {
                margin-right: 20px;

                input[type=radio] {
                    margin-right: 5px;
                }
            }

            .write-input {
                width: 100%;
                height: 40px;
                background: #FFFFFF;
                border: 1px solid #D8D8D8;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 16px;
            }

            .attach-input {
                width: 30%;
            }

            .file-delete-btn {
                width: 72px;
                height: 40px;
                background: #E8E8E8;
                border-radius: 100px;
                border: none;
                margin-left: 11px;

                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: $primary-color-red;
            }

            .attach-desc {
                font-size: 12px;
                line-height: 22px;
                color: #5F5F5F;
            }

            #custom-label {
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                font-size: 16px;
                color: #5F5F5F;

                .hiddenRadio {
                    display: none;
                }
                
                .hiddenRadio:checked + .showRadio {
                    background: url("../../assets/svgs/icon_radiocheck.svg") no-repeat;
                    background-size: contain;
                }
                
                .showRadio {
                    width: 16px;
                    height: 16px;
                    padding: 0;
                    
                    background: url("../../assets/svgs/icon_radio.svg") no-repeat;
                    background-size: contain;
                }
            }
            
        }
    }

    .btn-row {
        display: flex;
        justify-content: space-between;
        background: #F2F2F2;
        padding: 36px 19px;

        button {
            width: 88px;
            height: 44px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
        }

        .btn-black {
            border: none;
            background: $primary-color-grey;
            color: #FFFFFF;
        }
        .btn-white {
            border: 1px solid $line-color-grey;
            background: #FFFFFF;
            color: #5F5F5F;
        }
        .btn-red {
            border: none;
            background: $primary-color-red;
            color: #FFFFFF;
        }

        div button:first-child {
            margin-right: 11px;
        }
    }
}

/* 데이트피커 */
.custom-cal {
    width: 179px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 0 13px;
    cursor: pointer;

    .custom-picker {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        background-color: var(--ag-selected-row-background-color);
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        color: #5F5F5F;
        font-size: 16px;
        line-height: 19px;
       
        svg {
            margin-top: -2px;
        }
    }

    svg {
        margin-bottom: -3px;
    }
}


/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    //스타일 입력
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    //스타일 입력
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    //스타일 입력
}