@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'LG Smart';
    src: url('../../assets/font/LGSmart-Bold.ttf') format('truetype');
    font-weight: 700;
}

@import '../variables.scss';

/* 공통 */
* {
    font-family: 'LG Smart', sans-serif;
    font-weight: 400;
    // letter-spacing: -0.02em;
    letter-spacing: 0.01em;
    box-sizing: border-box;
    margin: 0;
}

.inner-container {
    max-width: 1560px;
    margin: 0 auto; 
}

/* 그리드 */
.ag-header-group-cell-label, .ag-header-cell-label {
    display: flex;
    justify-content: center !important;
}

.ag-header, .ag-row {
    text-align: center;
}

.ag-header-cell-text, .ag-header-group-text, .ag-cell-last-left-pinned {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

// .ag-cell-focus {
//     border: 1px solid $primary-color-red !important;
// }

/* 페이징 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: white;
}

ul.pagination li.active {
    background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: blue;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
}
.custom-flex-item {
    display: flex;
}
.custom-self-align {
    align-self: center;
}
.custom-hyphen {
    padding: 0 5px;
}
.custom-justify-between {
    justify-content: space-between;
}
/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    //스타일 입력
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    //스타일 입력
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    //스타일 입력
}