@import '../variables';

.top-nav {
    background-color: $primary-color-grey; 
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
}

.top-nav-wrapper {
    display: flex; 
    box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
    * {
        z-index: 1;
    }
}

.nav-logo {
    height: 100%; font-weight: 600; font-size: 1.2rem;
    color: white; justify-content: space-between;
    align-items: center; display: flex; 
    cursor: pointer;
    padding-right: 3rem;
    p {
        white-space: nowrap;
        font-size: 0.9rem; padding-top: 0.3rem;
    }
    img {
        width: 33%; padding: 5%;
    }
}

.division {
    width: 1px; background-color: rgba(255, 255, 255, 0.15);
}

ul, li {
    list-style: none; padding: 0; margin: 0;
}

.nav-category {
    align-self: center; height: 100%; width: 100%;
}

.nav-lists,
.more-lists {
    display: flex;
    height: 100%;
    // margin-right: 85px;
}
.more-lists {
    justify-content: center;
    margin-right: 15rem;
}
.nav-lists  > li {
    color: white; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; position: relative;
    cursor: pointer;
}

.nav-division {
    position: absolute; right: 0;
}

.nav-info {
    margin-left: auto; display: flex;
    justify-content: flex-end;
}

.nav-info > div:first-child {
    width : 40%;
}

.nav-info .profile {
    align-self: center;
}

.nav-info .profile-circle {
    background-color: white;
    border-radius: 50%;
    text-align-last: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-info .profile-circle img{
    vertical-align: -webkit-baseline-middle;
    width: 14px;
}

.nav-info .search {
    width: 30%; align-self: center; text-align: center; cursor: pointer;
    margin-top: 5px;
}

.lower-tab {
    background-color: $secondary-color-gery; padding: 0 5%;
    width: 100%; border-bottom: 1px solid $border-color-gery; position: relative;
}

.more-lists > li {
    text-align: center;  font-weight: 600;
    font-size: 21px; position: relative;
    width: 15.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.more-lists > li > p {
    width: 80%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-modal{
    height: fit-content; 
    position: absolute;
    z-index: 1000;
    background: white; 
    border: 1px solid $primary-color-red;
    border-radius: 20px;
}

.nav-modal li {
    text-align: left; border-radius: 5px;
}

.nav-modal li:hover,
.nav-modal li:focus {
    background-color: $chart-color-pink;
}

.nav-modal > img {
    position: absolute;
    top: -8px;
}

/* 수정 CSS **********************************************************************************/
.nav-third {
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 101%;
    left: 0;
    z-index: 999;
    box-shadow: 0px 8px 5px -2px rgba(246, 246, 246, 0.7); //#F6F6F6;

    .third-tab {
        width: 100%;
        display: flex;
        justify-content: center;
        // padding-right: 85px;
        padding-right: 163px;
        
        ul {
            width: 240px;
            height: 100%;
            min-height: 270px; 
            border-right: 1px solid #D8D8D8;
            padding: 15px 16px;
        }

        ul:first-child {
            border-left: 1px solid #D8D8D8;
        }

        ul:hover {
            // background-color: $chart-color-pink;
            background-color: rgba(250, 241, 244, 0.7);
        }

        li {
            font-size: 18px;
            line-height: 34px;
            cursor: pointer;
        }

        li:hover,
        li:focus {
            color: $primary-color-red;
            font-weight: 600;
        }
    }
}


/* 노트북 & PC (해상도 1024px) */ 
@media all and (min-width:1024px) {
    .top-nav {
        // height: 81px; 
        height: 54px;
    }
    .nav-logo {
        // width: 257px; 
        width: 218px;
    } 
    .division {
        height: 24px; margin: 0 14px;
    }
    .nav-lists  > li {
        width: 20%; font-weight: 600; font-size: 21px; line-height: 24px;
    }
    .more-lists > li {
        width: 15%;
    }
    .nav-division {
        width: 1px; height: 40px; background-color:  rgba(255, 255, 255, 0.2);
    }
    .nav-info {
        width: 162px;
    }
    .nav-info .profile-circle {
        height: 32px;
        width: 32px;
    }
    .lower-tab {
        // height: 73px;
        height: 64px;
    }
    .more-lists {
        left: 256px;
    }
    .nav-underline {
        height: 2px;
        position: absolute;
        width: 74px;
        bottom: 0px;
        background: $primary-color-red;
        z-index: 100;
    }
    .link-icon {
        position: absolute;
    top: 20px;
    right: 10px;
    }
    .nav-modal{
        width: 245px; top: 80px; left: 13px; padding: 25px 25px 0 25px; 
    }
    .nav-modal > ul{
        margin-bottom: 10px;
    }
    .nav-modal li {
        padding: 12px; font-weight: 400;  border-radius: 5px;
    }
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (max-width:1023px) {
    .top-nav {
        height: 50px; 
        .top-nav-wrapper {
            width: 880px;
            .nav-logo {
            } 
            .division {
                height: 16px; margin: 0 4px;
            }
            .nav-category {
                height: 50px; flex-grow: 1;
                .nav-lists  > li {
                    width: 120px; font-weight: 600; font-size: 15px; line-height: 24px;
                }
                .nav-division {
                    width: 1px; height: 40px; background-color:  rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
    .more-lists > li {
        width: 120px; font-size: 12px; 
    }
    
    .nav-info {
        min-width: 15%;
    }
    .nav-info .profile-circle {
        height: 27px;
        width: 27px;
        
        img {
            width: 11px;
        }
    }
    .lower-tab {
        height: 37px;
    }
    .more-lists {
        left: 154px;
    }
    .nav-underline {
        height: 2px;
        position: absolute;
        width: 74px;
        bottom: 0px;
        background: $primary-color-grey;
        z-index: 100;
    }
    .link-icon {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 10px;
    }
    .nav-modal{
        width: 103px;  top: 54px;  left: -14px;  padding: 12px 12px 0 12px;
    }
    .nav-modal > img {
        left: 58px;
    }
    .nav-modal li {
        padding-bottom: 19px; font-size: 11px;
    }

    .nav-third {
        top: 102%;
    
        .third-tab {
            padding-right: 238px;
            
            ul {
                width: 120px;
                height: 100%;
                min-height: 270px; 
                border-right: 1px solid #D8D8D8;
                padding: 10px 10px;
            }
    
            ul:first-child {
                border-left: 1px solid #D8D8D8;
            }
    
            ul:hover {
                background-color: $chart-color-pink;
            }
    
            li {
                font-size: 12px;
                line-height: 20px;
                cursor: pointer;
            }
    
            li:hover,
            li:focus {
                color: $primary-color-red;
                font-weight: 600;
            }
        }
    }
} 
