@import '../variables.scss';

.custom-select {
    min-width: 130px;
    margin: 0 10px;
}
.custom-select >div:hover {
    border-color: $primary-color-red !important;
}
// #react-select-2-listbox > * > *:hover {
//     background-color: $chart-color-pink; color: $primary-color-red;
// }
// .css-1nmdiq-menu > * > *:hover {
//     background-color: $chart-color-pink; color: $primary-color-red;
// }
// .custom-select .selected {
//     background-color: black !important;

// } 
// #react-select-4-listbox,
// #react-select-4-listbox > * {
//     z-index: 99999; background-color: pink;
// }
.css-19pgbrk-control:hover {
    border-color: $primary-color-red !important;
}

/** select box renderer */
.cell-select-box {
    min-width: 50px;
    margin: 0 10px;
    padding: 5px;font-weight: 400;
    font-size: 14px;
    line-height: 16px; text-align: center;
    appearance: none;
    background-image: url('../../assets/svgs/icon_below.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    padding-right: 20px; /* 오른쪽 패딩 값 조정 */
    background-size: 11px 11px;
    border-radius: 5px;
}
.cell-select-box:focus {
    outline: none; background-color: none;
}
