@import '../variables.scss';
.tab-container {
    transform : rotate(-180deg);
    position: absolute;
    right: 257px;
    width: 257px;
     color: white;
    top: 50%; width: 32px; 
    height: 120px;font-size: 14px; letter-spacing: 0.14px;
    writing-mode: vertical-lr;  border-radius: 0px 4px 4px 0px;
}
.navigation-container {
    width: 257px; display : flex; flex-direction : column;
    height: 100vh; 
    position: fixed;
    top: 0; margin-left: auto;
    // left: -200px;
    right: -200px;
    transition: right 0.3s ease; background : white; padding: 25px 30px;
    h1 {
        font-size: 20px; font-weight: 700; letter-spacing: 0.2px;
    }
  }
  .tab-container .open {
    right: 400px; 
  }
  .navigation-container.open {
    right: 0; 
  }
  
  .navigation-container.closed {
    right: -257px;
  }
  .nav-middle {
     padding-top: 20px;
    .bookmark-list{
     
      & > li {
        width: 201px;  padding: 20px 15px; border-radius: 4px; border: 1px solid #CCC;
       background: #FBFBFB; margin-bottom: 10px;
      }
      & > li > div {
        font-size: 16px; font-weight: 600; letter-spacing: 0.4px;
      }
      & > li ul li {
        font-size: 12px; font-weight: 400; letter-spacing: 0.12px;  padding: 10px 0 0 8px;
      }
    }
    
  }
  .nav-bottom {
    margin-top: auto; background-color: #F0F0F0;
    width: 84px; height: 28px; border-radius: 100px; 

    img {
        margin-right: 5px;
    }
    p {
        font-size: 12px; font-weight: 600; line-height: 14px; letter-spacing: 0.01em;
    }
  }

// 왼쪽에 둘 때
// @import '../variables.scss';
// .tab-container {
    
//     position: absolute;
//     left: 257px;
//     width: 257px;
//      color: white;
//     top: 50%; width: 32px; 
//     height: 120px;font-size: 14px; letter-spacing: 0.14px;
//     writing-mode: vertical-lr;  border-radius: 0px 4px 4px 0px;
// }
// .navigation-container {
//     width: 257px; display : flex; flex-direction : column;
//     height: 100vh; 
//     position: fixed;
//     top: 0;
//     left: -200px;
//     transition: left 0.3s ease; background : white; padding: 25px 30px;
//     h1 {
//         font-size: 20px; font-weight: 700; letter-spacing: 0.2px;
//     }
//   }
//   .tab-container .open {
//     left: 400px; 
//   }
//   .navigation-container.open {
//     left: 0; 
//   }
  
//   .navigation-container.closed {
//     left: -257px;
//   }
//   .nav-middle {
//      padding-top: 20px;
//     .bookmark-list{
     
//       & > li {
//         width: 201px;  padding: 20px 15px; border-radius: 4px; border: 1px solid #CCC;
//        background: #FBFBFB; margin-bottom: 10px;
//       }
//       & > li > div {
//         font-size: 16px; font-weight: 600; letter-spacing: 0.4px;
//       }
//       & > li ul li {
//         font-size: 12px; font-weight: 400; letter-spacing: 0.12px;  padding: 10px 0 0 8px;
//       }
//     }
    
//   }
//   .nav-bottom {
//     margin-top: auto; background-color: #F0F0F0;
//     width: 84px; height: 28px; border-radius: 100px;

//     img {
//         margin-right: 5px;
//     }
//     p {
//         font-size: 12px; font-weight: 600; line-height: 14px; letter-spacing: 0.01em;
//     }
//   }