@import '../variables';

.faq-lists {
    display: flex;
}
.faq-lists li {
     border: 1px solid $border-color-gery; padding :20px 25px; border-radius: 10px;     max-width: 296px; max-height: 130px;
     overflow: hidden;
}
.faq-lists li:not(:last-child) {
    margin-right: 10px; 
}
.faq-lists .faq-top {
    display: flex; margin-bottom: 14px;
}
.faq-lists .faq-top p {
    font-weight: 600;  font-size: 20px; line-height: 23px; letter-spacing: 0.01em;
}
.faq-lists .faq-top p:first-child {
    color: $primary-color-red;
}
.faq-lists .faq-summary {
    font-weight: 400; font-size: 17px; line-height: 23px; color: $txt-color-content;
}
.faq-category {
    padding: 20px 25px;
}
.faq-category-lists {
    display: flex; justify-content: space-between; position: relative;
}
.faq-category-lists li {
    align-self: center; position: relative; width: 115px;
}
.faq-category-lists li div {
    text-align: center;     padding-bottom: 10px;
}
.faq-category-lists .icon-modal {
    position: absolute; width: 146px; left: -10px; z-index: 999;
}
.faq-category-lists .icon-modal img {
    position: relative;
    top: 5px;
}
.faq-category-lists .icon-modal ul {
    border: 2px solid $primary-color-red; border-radius: 15px; padding: 10px; background-color: white;
}
.faq-category-lists .icon-modal li {
    padding: 5px; font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.faq-contents {
    display: flex; justify-content: space-between; 
}
.faq-right, .faq-left {
    width: 48%; height: 800px;
}
.faq-category-lists p {
    margin: 0; font-weight: 600; text-align: center;
}
.faq-left {
    position: relative;
}
.faq-left .ag-theme-alpine {
    height: 500px;
}
.faq-left .ag-header {
    display: none;
}
.faq-left .ag-center-cols-container {
    height: 100% !important;
    & div {
        height: 10% !important; border-bottom: 1px solid $border-color-gery !important;
    }
}
// board
.faq-custom-board {
    height: 93%;  
    li {
        height: 10%;     display: flex;
        align-items: center;  border-bottom: 2px solid $board-color-grey;
        img {
            margin-left: 10px;
        }
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
        span:first-child {
            width: 100px; text-align: center; min-width: 100px; 
        }
        span:last-child {
            margin-left: auto; font-size: 15px; font-weight: 400; line-height: 24px; letter-spacing: 0.01em;
        }
    }
    li:first-child {
        border-top: 1px solid $board-color-grey;
    }
    li:hover {
        background-color: $hover-color-pink;   color: $primary-color-red;
    }
}
.faq-right {
    border-radius: 14px; border: 1px solid $border-color-gery;
    overflow: hidden;
    display: flex;
    flex-direction: column;  transition: transform 0.3s ease;
}
.faq-right .ck-sticky-panel {
    display: none !important;
}
.faq-right-top {
     border-bottom: 1px solid $border-color-gery;
    min-height: 100px; z-index: 300;
    padding: 15px 30px;
    position: sticky;
    top: 0;  display: inline-table;
    background: white; box-sizing: content-box;
    & > p {
        padding: 20px 0;  overflow-wrap: break-word;
    }
    span {
        padding: 4px; align-self: center;
    }
    .user-action span img {
        padding-right: 2px;     width: 16px;
        height: 16px;
    }
    
}
.faq-attach{
    border: 1px solid $border-color-gery; border-radius: 5px; font-weight: 600;
    font-size: 13px;
}

.faq-attach-down img {
    padding: 0 5px;
}
.faq-comment-wrapper {
    background-color: #F2F2F2;min-height: 103px;
    padding: 16px; height: fit-content;
    & > span:first-child {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
    & > div {
        padding: 5px 0;
        display: flex;
    }
    textarea {
        flex-grow: 2;
        border: none;
        padding: 10px;
    }
    textarea:focus {
        outline: none;
    }
    button {
        width: 69px;
        // height: 44px;
        background: #323232;
        border-radius: 5px;
        padding-left: 1px;
        color: white;
        border: none;
    }
    
}
.faq-comment-list {
    padding : 10px 20px; background-color: $board-color-grey;
    .comment-middle {
        overflow-wrap: break-word;
    }
}
.comment-input {
    display: flex;
    flex-direction: column;
    width: 620px;
}
.comment-input span {
    height: 24px;
    background: white;
    border-bottom: 1px solid $border-color-gery; font-weight: 600;
    font-size: 12px;
    line-height: 24px; padding-left: 10px;
} 
.comment-cnt-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px; padding-left: 10px;
}
.faq-comment-list > ul > li {
    padding: 10px 0;
}
.faq-comment-list > ul > li:not(:last-child) {
    border-bottom: 1px solid $line-color-grey;
}
.faq-comment-list > ul > li span:first-child {
    font-weight: 600;
    font-size: 14px;
}
.comment-top div span:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px; letter-spacing: 0.01em; padding-right: 10px;
}
.comment-top div span:last-child{
    font-weight: 400;
font-size: 12px;
line-height: 24px; letter-spacing: 0.01em;
}
.comment-bottom span {
    font-weight: 600;
font-size: 12px;
line-height: 24px; padding: 0 3px;
}
.faq-comment-list > ul > li .comment-top span p {
    font-weight: 400;
    font-size: 13px;
    color: $txt-color-edit;
}
.faq-comment-list > ul > li span:last-child  p:nth-child(2) {
    padding: 0 10px;
}
/* AG grid custom css*/
.ag-root-wrapper {
    border: none !important;
}

.faq-right {
    overflow: auto; width: 100%;
  }
  
  /* 스크롤바 스타일링 */
  .faq-right::-webkit-scrollbar {
    width: 8px;
  }
  
  .faq-right::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .faq-right::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }  
.faq-contents .pagination li{
    margin: 0 5px;
}
.faq-contents .pagination li a,
.faq-contents .pagination  .disabled {
    color: $chart-color-grey;
}
.faq-contents .pagination .active {
    background-color: white !important; border: 2px solid $primary-color-red; border-radius: 6px;
}
.faq-contents .pagination .active a {
    color: $primary-color-red; font-weight: 600;
}
.faq-contents .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
    border-top: 1px solid $border-color-gery;
    border-bottom: 1px solid $border-color-gery; padding: 20px;
}
.faq-contents .ck.ck-editor {
    z-index: -1px;
}
/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    .faq-lists li {
        padding :20px 25px;
   }
   .faq-left .ag-cell:first-child {
        width: 100px !important; 
   }
   .faq-left .ag-cell:last-child {
    position: absolute !important;
    left: 80px !important; width: /*fit-content*/ 90% !important; text-align: left !important;
    }
    // .faq-right-top {
    //     min-height: 100px; padding: 15px 30px; position: sticky; top: 0;
    //     z-index: 100;
    //     background: white;
    // }
    .faq-right-top > p {
        font-weight: 700; font-size: 24px; line-height: 30px;
    }
   
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    .faq-lists li {
        padding :20px 25px;
   }
   .faq-left .ag-cell:first-child {
        width: 100px !important;
   }
   .faq-left .ag-cell:last-child {
    position: absolute !important;
    left: 80px !important; width: /*fit-content*/ 90% !important; text-align: left !important;
    }
    .faq-right-top {
        height: 100px; padding: 15px 30px;
    }
    .faq-right-top > p {
        font-weight: 700; font-size: 24px; line-height: 30px;
    }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    .faq-lists li {
        padding :20px 25px;
   }
   .faq-left .ag-cell:first-child {
        width: 100px !important;
   }
   .faq-left .ag-cell:last-child {
    position: absolute !important;
    left: 80px !important; width: /*fit-content*/ 90% !important; text-align: left !important;
    }
    .faq-right-top {
        height: 100px; padding: 15px 30px;
    }
    .faq-right-top > p {
        font-weight: 700; font-size: 24px; line-height: 30px;
    }
}