.search-wrapper {
    background-color: #BB0841;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 16px;
    }
}
.cstalk-container {
    .faq-right-top {
        padding: 20px 20px;
    }
    .cstalk-nav {
        margin-top: -20px;
        margin-bottom: 34px;
        align-items: center;
        width: 37%;
        margin-left: auto;
        p {
            margin-right: 10px;
        }

        .cstalk-nav-input{
             width: 160px;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            margin: 0 10px;
            padding: 0 10px;
            font-size: 16px;
        }
    }
    
}
.cstalk-custom-board {
    text-align: center; margin-bottom: 41px;
    .selected-row {
        background-color: $hover-color-pink; color: $primary-color-red;
    }
    li {    
        border-bottom: 1px solid #E8E8E8;
        padding: 9px 24px;
        display: flex;
        align-items: center;
        & > div:first-child .custom-stress-txt{
            padding-left: 5px;
        }
    }
    & li:first-child {
        border-top: 1px solid $board-color-grey;
    }
    li:hover {
        background-color: $hover-color-pink;
    }
    div span:first-child{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    & > span,
    li > span {
        font-size: 15px; line-height: 24px; letter-spacing: 0.15px; color: $board-color-txt;
    }
}

.cstalk-subject {
    flex-direction: column; 
}
.cstalk-subject span {
    text-align: initial;
}

.setting-viewer {
    padding: 10px 20px; justify-content: end;
}
.setting-viewer button {
    height: 30px;
    border-radius: 100px;
    border: 1px solid #D5D5D5;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #BB0841;
    background: #FCF8F9;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    min-width: 78px; 
    color: $primary-color-red;
} 
.setting-viewer button:not(:first-child) {
    margin-left: 10px;  
}
.cstalk-left {
    .cstalk-count {
        // padding: 10px 0;
        margin-bottom: 10px;

        span {
            font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: 0.14px;
        }
    }
    .custom-scroll-area {
        max-height: 727px;
        // max-height: 735px;
    }
    // .pagination {
    //     margin: 0 !important;
    //     padding-top: 25px; 
    // }
}
.cstalk-right .ck-sticky-panel {
    display: none !important;
}
.cstalk-right-top {
    position: relative;
    
    .cstalk-like span:nth-child(2) {
        padding : 0 10px
    }
}
.cstalk-right-top > p {
    padding: 20px 0;
}
.cstalk-right-top span {
     font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
}
.cstalk-right-top span:first-child {
    padding-right: 5px;
}
.cstalk-attach{
    border: 1px solid $border-color-gery; border-radius: 5px; font-weight: 600;
    font-size: 13px;
}

.board-max-length {
    max-width: 550px;
}
.cstalk-attach-down img {
    padding: 0 5px;
}
.cstalk-comment-wrapper {
    background-color: #F2F2F2;min-height: 103px;
    padding: 16px; height: fit-content;
    & > span:first-child {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
    & > div {
        padding: 5px 0;
        display: flex;
    }
    textarea {
        flex-grow: 2;
        border: none;
        padding: 10px;
    }
    textarea:focus {
        outline: none;
    }button {
        width: 69px;
        // height: 44px;
        background: #323232;
        border-radius: 5px;
        padding-left: 1px;
        color: white;
        border: none;
    }
}
.sub-comment-wrapper {
    background-color: transparent; padding: 10px 0;margin-top: 5px; display: block;
    button {
        background-color: white; color: #323232;
    }
}
.cstalk-comment-list {
    padding : 10px 20px; background-color: #F2F2F2;

}

.cstalk-lists li {
     border: 1px solid $border-color-gery; padding :20px 25px; border-radius: 10px;
}
.cstalk-lists li:not(:last-child) {
    margin-right: 10px; 
}



.cstalk-contents {
    display: flex; justify-content: space-between; 
    // > * {
    //     height: 100%; overflow: auto;
    // }
    .board-table {
        border-top: 2px solid $primary-color-red;  background: #f2f2f2; 
        padding: 10px 30px; text-align: center;
        li {
            font-size: 16px; font-weight: 400;  padding: 0 5px;
        }
    }
    .board-list {
        border-top: 1px solid #E8E8E8;
        font-size: 15px; font-weight: 400; justify-self: end; 
        width: 100%;
        
        ul {
            text-align: center;
            width: 10%;
        }
        li > *{
            padding: 0 5px;
        }
        span {
            color: $board-color-txt;
        }
        .col-1 {
            width: 7%;
        }
        .col-3  {
            width: 63%;
            text-align: left;
            
           span {
            font-size: 16px; font-style: normal; font-weight: 600; line-height: normal; color: #333333;
           }
           img {
            vertical-align: bottom;
           }
        }
        .col-5 img {
            vertical-align: bottom;
        }
        .small-detail {
            margin-top: 2px;
            & > * {
                padding-right: 10px;
            }
            span {
                color: #5F5F5F; font-size: 15px; font-weight: 400;
            }
        }
    }
    .board-list:last-child {
        border-bottom: 1px solid #E8E8E8;
    }
    .board-list:hover {
        background-color: $hover-color-pink; 
        span {
            color: $primary-color-red;
        }
    }
}

.cstalk-left {
    position: relative;     display: flex;
    flex-direction: column; overflow: hidden;

}

.editor-container,
.cstalk-custom-board {
    overflow: auto;
    li {
     display: flex; flex-direction: column;
     border-bottom: 2px solid $board-color-grey; align-items: start; justify-content: center;
        .etc {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #5F5F5F; width: 100%;
        }
    }
    
    
}

.cstalk-custom-board li:hover {
    background-color: $hover-color-pink; color: $primary-color-red;
}
.cstalk-custom-board li span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; display: flex;
    img {
        margin-left: 10px;
    }
}
.cstalk-right {
    border-radius: 14px; overflow: hidden; width: 49%; transition: transform 0.3s ease; 
    border: 1px solid $border-color-gery; flex-direction: column; height: 865px;
    
}
.cstalk-right .ck-sticky-panel {
    display: none !important;
}
.cstalk-right-top {
    position: relative; border-bottom: 1px solid $border-color-gery; 

    // & > div:not(:nth-child(2)) {
    //     padding: 5px 0;
    // }
    & > div:not(:nth-child(2)) > img {
        padding-right: 7px;
    }
    & > div:nth-child(3) > span:last-child > span:last-child{
        padding: 0 5px;
    }
}
.cstalk-right-middle {
    & > div:nth-child(2) > div:last-child{
        margin-left: 10px;
    }
}
.cstalk-right-bottom {
    margin-top: auto;
}
.cstalk-view-none {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; height: 800px;
}
.cstalk-attach{
    border: 1px solid $border-color-gery; border-radius: 5px; font-weight: 600;
    font-size: 13px;
}
.cstalk-attach-down img {
    padding: 0 5px;
}

.comment-middle {
    color: #626262; text-overflow: ellipsis; font-size: 14px;  font-weight: 400;
   line-height: normal;
   .toggle-sub-btn {
    padding: 0 3px;
    }
    
}

.cstalk-comment-wrapper button {
    width: 69px;
    // height: 44px;
    background: #323232;
    border-radius: 5px;
    padding-left: 1px;
    color: white;
    border: none;
}

.submment-wrapper {
   
    li {
        padding: 10px; margin-bottom: 10px;  background-color: white;
    }
  
}
.comment-input {
    display: flex;
    flex-direction: column;
    width: 620px;
}
.comment-input span {
    height: 24px;
    background: white;
    border-bottom: 1px solid $border-color-gery; font-weight: 600;
    font-size: 12px;
    line-height: 24px; padding-left: 10px;
} 
.comment-cnt-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px; padding-left: 10px;
}
.cstalk-comment-list > ul > li {
    padding: 10px 0; border-bottom: 1px solid $line-color-grey;
}

.cstalk-comment-list > ul > li span:first-child {
    font-weight: 600;
    font-size: 14px;
}
.comment-top div span:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px; letter-spacing: 0.01em; padding-right: 10px;
}
.comment-top div span:last-child{
    font-weight: 400;
font-size: 12px;
line-height: 24px; letter-spacing: 0.01em;
}
.comment-bottom span {
    font-weight: 600;
font-size: 12px;
line-height: 24px; padding: 0 3px;
}
.cstalk-comment-list > ul > li .comment-top .comment-btn {
    height: 30px;
    border-radius: 100px;
    border: 1px solid #D5D5D5;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid $primary-color-red;
    background: #FCF8F9;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: $primary-color-red;
    margin: 0 5px;
    width: 58px;
    text-align: center;
    display: flex;
    align-items: center;
}
.cstalk-comment-list > ul > li span:last-child  p:nth-child(2) {
    padding: 0 10px;
}
/* AG grid custom css*/
.ag-root-wrapper {
    border: none !important;
}

  
  /* 스크롤바 스타일링 */
  .cstalk-custom-board::-webkit-scrollbar {
    width: 8px;
  }
  
  .cstalk-custom-board::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .cstalk-custom-board::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }  

  .cstalk-right::-webkit-scrollbar {
    width: 8px;
  }
  
  .cstalk-right::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .cstalk-right::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }  
.cstalk-contents {
    // .pagination {
    //     margin-top: auto; 
    // }
    .pagination li{
        margin: 0 5px;
    }
    .pagination li a,
    .pagination  .disabled {
    color: $chart-color-grey;
    
    }
    .ck-content,
    .ck-viewer {
        // min-height: 705px;
        min-height: 480px;
    }
    .write-btn {
        bottom: 0px !important;
    }
    // .cstalk-subject span {
    //     padding-left: 5px;
    // }
}

.cstalk-contents .pagination .active {
    background-color: white !important; border: 2px solid $primary-color-red; border-radius: 6px;
}
.cstalk-contents .pagination .active a {
    color: $primary-color-red; font-weight: 600;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
    padding: 20px;
    // border-bottom: 1px solid $border-color-gery; 
}
.ck.ck-editor {
    z-index: -1px;
}
/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    .cstalk-lists li {
        padding :20px 25px;
   }
   .cstalk-left .ag-cell:first-child {
        width: 100px !important; 
   }
   .cstalk-left .ag-cell:last-child {
    position: absolute !important;
    left: 80px !important; width: /*fit-content*/ 90% !important; text-align: left !important;
    }
    .cstalk-right-top {
        // z-index: 300;min-height: 100px; 
        padding: 15px 30px; top: 0;
        background: white;
    }
    .cstalk-right-top > p {
        font-weight: 700; font-size: 24px; line-height: 30px;   max-width: 600px;
    }
   
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    .cstalk-lists li {
        padding :20px 25px;
   }
   .cstalk-left .ag-cell:first-child {
        width: 100px !important;
   }
   .cstalk-left .ag-cell:last-child {
    position: absolute !important;
    left: 80px !important; width: /*fit-content*/ 90% !important; text-align: left !important;
    }
    .cstalk-right-top {
        height: 100px; padding: 15px 30px;
    }
    .cstalk-right-top > p {
        font-weight: 700; font-size: 24px; line-height: 30px;
    }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    .cstalk-lists li {
        padding :20px 25px;
   }
   .cstalk-left .ag-cell:first-child {
        width: 100px !important;
   }
   .cstalk-left .ag-cell:last-child {
    position: absolute !important;
    left: 80px !important; width: /*fit-content*/ 90% !important; text-align: left !important;
    }
    .cstalk-right-top {
        height: 100px; padding: 15px 30px;
    }
    .cstalk-right-top > p {
        font-weight: 700; font-size: 24px; line-height: 30px;
    }
}
