@import '../variables';

.notice-container {

    /* 상단 검색영역 */
    .notice-nav {
        margin-top: -20px;
        margin-bottom: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 54%;
        width: 37%;

        p {
            margin-right: 10px;
        }

        .css-b62m3t-container {
            width: 179px;
        }
        
        .notice-nav-input {
            width: 160px;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            margin: 0 10px;
            padding: 0 10px;
            font-size: 16px;
        }

        .notice-nav-btn {
            width: 32px;
            height: 32px;
            border: none;
            border-radius: 50%;
            background: $primary-color-red;
            cursor: pointer;
            justify-content: center;

            svg {
                width: 16px;
            }
        }
    }

    // .notice-nav.notice-nav-lk {
    //     width: 35%;
    // }

    /* 하단 리스트, 상세페이지(board), 작성페이지(setting) */
    .notice-content {
        display: flex; 
        justify-content: space-between;

        .notice-left, .notice-right {
            width: 49%; transition: flex 0.3s, width 0.3s, padding 0.3s;

            ::-webkit-scrollbar {
                width: 8px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: $border-color-gery;
                border-radius: 4px;
            }
            ::-webkit-scrollbar-track {
                background-color: #f1f1f1;
            }
        }

        /* 리스트 */
        .notice-total {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 19px;
            color: #626262;

            span {
                color: #A50035;
            }
        }
  
        .notice-custom-board {
            // margin-bottom: 40px;
            max-height: 755px;
            // height: 755px;
            overflow: auto;

            .notice-menu {
                width: 100%;
                display: flex;
                border-top: 2px solid #BB0841;
                background: #FBFBFB;
                border-bottom: 1px solid #E8E8E8;
                
                span {
                    text-align: center;
                    width: 10%;
                    padding: 6px 0;

                    font-size: 16px;
                    color: #333333;
                }

                span:first-child {
                    width: 7%;
                }
                span:nth-child(2) {
                    width: 63%;
                }
            }

            .notice-list {
                width: 100%;
                display: flex;
                border-bottom: 1px solid #E8E8E8;
                // padding: 9px 24px;
                padding: 5px 0px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 10%;
                    padding: 5px 0;

                    font-size: 15px;
                    color: #5F5F5F;
                }

                .notice-no {
                    width: 7%;
                }
                .notice-title {
                    width: 63%;
                    justify-content: flex-start;
                    flex-direction: column;
                    
                    span {
                        width: 100%;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }

                    .title {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #333333;
                    }

                    p {
                        color: #ED5C7D;
                        margin-right: 5px;
                    }

                    svg:first-child {
                        margin-right: 6px;
                    }

                    svg:last-child {
                        margin-left: 6px;
                    }

                    .notice-writer {
                        color: #5F5F5F;
                        font-size: 15px;
                    }
                }

                // .title {
                //     display: flex;
                //     align-items: center;
                //     font-weight: 600;
                //     font-size: 16px;
                //     line-height: 24px;
                //     color: #333333;

                //     svg:first-child {
                //         margin-right: 6px;
                //     }

                //     svg:last-child {
                //         margin-left: 6px;
                //     }
                // }

                .title.title-del {
                    color: #ADADAD;
                    justify-content: space-between;
                }

                // .etc {
                //     display: flex;
                //     justify-content: space-between;
                //     font-weight: 400;
                //     font-size: 15px;
                //     line-height: 24px;
                //     color: #5F5F5F;
                // }

                // .etc.etc-del {
                //     color: #ADADAD;
                // }
            }

            .notice-list:first-child {
                border-top: 1px solid #E8E8E8;
            }

            .notice-list:hover {
                background-color: $hover-color-pink; 
            }

            .notice-list.notice-del-list:hover {
                background-color: #F0F0F0;
            }
        }

        .notice-bottom {
            display: flex;
            justify-content: flex-end;
            // margin-top: -45px;
            margin-top: -35px;

            .notice-btn-black {
                width: 72px;
                height: 35px;
                border-radius: 5px;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                cursor: pointer;
                border: none;
                background: $primary-color-grey;
                color: #FFFFFF;
            }
        }

        /* 컨텐츠 없을 시 */
        .notice-view-none {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .notice-view-none.notice-list-none {
            height: 670px;
        }

        /* 상세페이지, 작성페이지 */
        .notice-right {
            border: 1px solid $border-color-gery; 
            border-radius: 14px;
            // overflow: hidden;
            overflow: auto;
            display: flex;
            flex-direction: column;
            // height: 800px;
            height: 865px;

            .editor-container {
                border: none !important;
            }

            /* 상세페이지 */
            .notice-view-top {
                position: relative;
                padding: 16px 25px;
                border-bottom: 1px solid $border-color-gery; 

                .notice-btn-area {
                    width: 100%;
                    margin-bottom: 6px;

                    * {
                        cursor: pointer;
                    }

                    .notice-full-btn {
                        border-radius: 3px;
                        border: 1px solid #828282;
                        background: #828282;
                        color: #FFFFFF;
    
                        display: flex;
                        align-items: center;
                        padding: 4px 8px 4px 6px;
    
                        svg {
                            margin-right: 5px;
                        }
                    }
                }

                .notice-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    color: #333333;
                }

                .notice-title-detail {
                    font-size: 14px;
                    line-height: 24px;
                    padding-top: 4px;
                    color: #5F5F5F;

                    span {
                        padding: 0;
                        font-weight: 600;
                    }
                }

                .notice-title-attach {
                    display: flex;
                    align-items: center;

                    span {
                        padding: 4px;
                    }

                    .notice-attach {
                        margin-left: 4px;
                        color: #626262;
                    }

                    .notice-attach-count {
                        color: #A50035;
                        font-weight: 600;
                        margin-left: -5px;
                    }

                    .custom-hyphen {
                        padding: 0 10px 0 5px;
                    }

                    .notice-attach-box {
                        border: 1px solid $border-color-gery; 
                        border-radius: 5px; 
                        font-weight: 600;
                        font-size: 13px;
                        padding: 4px 10px;
                        display: flex;
                        align-items: center;

                        p {
                            margin-right: 8px
                        }

                        .notice-attach-down {
                            color: white;
                            cursor: pointer;
                            margin-bottom: -4px;
                        }

                    }
                    .notice-attach-box:not(:last-of-type) {
                        margin-right: 7px;
                    }
                }
            }

            .notice-view-middle {
                flex: 1;

                .ck.ck-editor,
                .ck.ck-editor__main,
                .ck.ck-editor__main>.ck-editor__editable {
                    height: 100%;
                }

                .ck.ck-editor__editable_inline>:first-child {
                    margin-top: 0;
                }

                .ck-sticky-panel {
                    display: none;
                }

                .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
                    border-bottom: none;
                }

                h2, p {
                    // margin-left: 10px;
                    margin: 0 5px;
                }

                h2 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    color: #333333;
                }

                p {
                    font-size: 16px;
                    line-height: 22px;
                    color: #626262;
                }
            }

            /* 작성페이지 */
            .notice-write-row {
                display: flex;

                > div {
                    padding: 15px 30px;
                }

                .radio-row {
                    padding: 25px 30px;
                }

                .left {
                    width: 25%;
                    border-right: 1px solid $line-color-grey;
                    border-bottom: 1px solid $line-color-grey;

                    p {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 17px;
                        color: #2B2B2B;
                    }

                    svg {
                        margin-left: 5px;
                    }
                }

                .right {
                    width: 75%;
                    border-bottom: 1px solid $line-color-grey;

                    span {
                        margin-right: 20px;

                        input[type=radio] {
                            margin-right: 5px;
                        }
                    }

                    .notice-write-input {
                        width: 100%;
                        height: 40px;
                        background: #FFFFFF;
                        border: 1px solid #D8D8D8;
                        border-radius: 5px;
                        padding: 0 10px;
                        font-size: 16px;
                    }
    
                    .notice-attach-input {
                        width: 30%;
                    }

                    .file-delete-btn {
                        width: 72px;
                        height: 40px;
                        background: #E8E8E8;
                        border-radius: 100px;
                        border: none;
                        margin-left: 11px;

                        font-weight: 600;
                        font-size: 14px;
                        line-height: 22px;
                        color: $primary-color-red;
                    }

                    .attach-desc {
                        font-size: 12px;
                        line-height: 22px;
                        color: #5F5F5F;
                    }

                    #custom-label {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        cursor: pointer;
                        font-size: 16px;
                        color: #5F5F5F;

                        .hiddenRadio {
                            display: none;
                        }
                        
                        .hiddenRadio:checked + .showRadio {
                            background: url("../../assets/svgs/icon_radiocheck.svg") no-repeat;
                            background-size: contain;
                        }
                        
                        .showRadio {
                            width: 16px;
                            height: 16px;
                            padding: 0;
                            
                            background: url("../../assets/svgs/icon_radio.svg") no-repeat;
                            background-size: contain;
                        }
                    }
                    
                }
            }

            .notice-btn-row {
                display: flex;
                justify-content: space-between;
                background: #F2F2F2;
                padding: 36px 19px;

                button {
                    width: 88px;
                    height: 44px;
                    border-radius: 5px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    cursor: pointer;
                }

                .notice-btn-black {
                    border: none;
                    background: $primary-color-grey;
                    color: #FFFFFF;
                }
                .notice-btn-white {
                    border: 1px solid $line-color-grey;
                    background: #FFFFFF;
                    color: #5F5F5F;
                }
                .notice-btn-red {
                    border: none;
                    background: $primary-color-red;
                    color: #FFFFFF;
                }
        
                div button:first-child {
                    margin-right: 11px;
                }
            }
        }

        .notice-right::-webkit-scrollbar {
            width: 8px;
        }
          
        .notice-right::-webkit-scrollbar-thumb {
            background-color: $border-color-gery;
            border-radius: 4px;
        }
        
        .notice-right::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        } 
    }

    /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
    @media all and (min-width:768px) and (max-width:1023px) {
        .notice-nav {
            width: 80%;
            margin-left: 2%;
        }

        .notice-content {
            margin: 0 2%;
        }
    } 

    /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
    @media all and (max-width:767px) {
        //스타일 입력
    }
}