@import '../variables';

.notice-container {

    /* 상단 검색영역 */
    .notice-nav {
        margin-top: -20px;
        margin-bottom: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 54%;

        p {
            margin-right: 10px;
        }

        .css-b62m3t-container {
            width: 179px;
        }
        
        .notice-nav-input {
            width: 160px;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #D8D8D8;
            border-radius: 5px;
            margin: 0 10px;
        }
    }

    /* 하단 리스트, 상세페이지 */
    .notice-content {
        display: flex; 
        justify-content: space-between;

        .notice-left, .notice-right {
            width: 49%;
        }

        /* 리스트 */
        .notice-count {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 19px;
            color: #626262;

            span {
                color: #A50035;
            }
        }

        .notice-custom-board {
            margin-bottom: 40px;

            .notice-list {
                border-bottom: 1px solid #E8E8E8;
                padding: 9px 24px;
                cursor: pointer;

                .title {
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #333333;

                    svg:first-child {
                        margin-right: 6px;
                    }

                    svg:last-child {
                        margin-left: 6px;
                    }
                }

                .etc {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: #5F5F5F;
                }
            }

            .notice-list:first-child {
                border-top: 1px solid #E8E8E8;
            }

            .notice-list:hover {
                background-color: $hover-color-pink;
            }
        }

        .notice-bottom {
            display: flex;
            justify-content: flex-end;
            margin-top: -45px;

            .notice-btn-circle {
                width: 58px;
                height: 58px;
                border: none;
                border-radius: 50%;
                background: $primary-color-red;
                color: #FFFFFF;
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
            }
        }

        /* 상세페이지 */
        .notice-right {
            border: 1px solid $border-color-gery; 
            border-radius: 14px;
            overflow: auto;
            display: flex;
            flex-direction: column;

            .ck-sticky-panel {
                display: none !important;
            }

            .notice-right-top {
                position: relative;
                padding: 16px 25px;

                .notice-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    color: #333333;
                }

                .notice-title-detail {
                    font-size: 14px;
                    line-height: 24px;
                    padding-top: 4px;

                    span {
                        padding: 0;
                        font-weight: 600;
                    }
                }

                .notice-title-attach {
                    display: flex;
                    align-items: center;

                    span {
                        padding: 4px;
                    }

                    .notice-attach {
                        margin-left: 4px;
                    }

                    .notice-attach-count {
                        color: #A50035;
                        margin-left: -5px;
                    }

                    .notice-attach-box {
                        border: 1px solid $border-color-gery; 
                        border-radius: 5px; 
                        font-weight: 600;
                        font-size: 13px;
                        padding: 4px 8px;
                        display: flex;
                        align-items: center;

                        p {
                            margin: 0 4px;
                        }
                    }
                }
            }

            .notice-right-middle {
                flex: 1;

                .ck.ck-editor,
                .ck.ck-editor__main,
                .ck.ck-editor__main>.ck-editor__editable {
                    height: 100%;
                }

                h2, p {
                    margin-left: 15px;
                }

                h2 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    color: #333333;
                }

                p {
                    font-size: 16px;
                    line-height: 22px;
                    color: #626262;
                }
            }
        }
    }
}