@import '../variables.scss';

.pdt-container {
    .search-from {
        border: 1px solid  $chart-color-grey;
        border-radius: 10px;
        .left {
            padding: 10px 58px;
            input {
                border-radius: 5px; border: 1px solid #CCC;
                width: 179px; padding: 12px 14px;  font-size: 18px; font-weight: 400;
                margin-left: 35px;
            }
            ul:last-child {
                margin-top: 5px;
            }
            li > div:first-child {
                margin-left: 35px;
            }
        }
        .right {
            align-self: center;
            padding: 26px 58px;
            border-left: 1px solid  $chart-color-grey;
            button {
                width: 88px;
                height: 42px;
                background: #ED5C7D;
                border: none;
                color: white;
                font-weight: 600;
                font-size: 20px;
                border-radius: 7px;
            }
        }
    }
}