@import '../variables';

.training-container {

    /* 상단 검색 nav */
    .training-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #D6D6D6;
        border-radius: 14px;
        padding: 10px 20px;
        margin-bottom: 22px;

        .nav-left {
            display: flex;
            align-items: center;
            width: 15%;
            justify-content: space-evenly;

            .search {
                display: flex;
                align-items: center;
            }

            svg {
                margin-right: 10px;
            }

            p {
                font-weight: 600;
                font-size: 21px;
                line-height: 24px;
                color: #4E4E4E;
            }
        }

        .nav-center {
            display: flex;
            align-items: center;
            width: 85%;
            justify-content: space-between;
            padding: 10px 0 10px 20px;

            .nav-box {
                display: flex;
                flex-direction: column;
                width: 30%;
                align-items: flex-start;

                .nav-search {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 85%;
                }

                .nav-search:first-child {
                    margin-bottom: 15px;
                }

                .custom-cal {
                    width: 140px;
                }
            }

            .nav-box:nth-of-type(3) {
                width: 40%;

                .nav-search:first-child {
                    justify-content: flex-start;

                    p {
                        margin-right: 26px;
                    }
                }
            }

            .css-b62m3t-container {
                width: 179px;
            }

            .circle {
                width: 88px;
                height: 88px;
                border: none;
                border-radius: 50%;
                background: $primary-color-red;
                color: #FFFFFF;
                text-align: center;
                cursor: pointer;
    
                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 23px;
                    padding: 30px 0 5px 0;
                }
            }
        }

        .nav-right {
            display: flex;
            align-items: center;
            width: 15%;
            justify-content: space-evenly;

            .nav-btn-black {
                // width: 88px;
                padding: 0 10px;
                height: 44px;
                border-radius: 5px;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                cursor: pointer;
                border: none;
                background: $primary-color-grey;
                color: #FFFFFF;
            }
            .nav-btn-black:disabled {
                color: #888888;
                background: #D8D8D8;
            }
        }

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 17px;
        }

        .nav-line {
            height: 84px;
            border: 1px solid #EBEBEB;
        }
    }

    /* 하단 tab */
    .tab-menu {
        display: flex;
        margin-bottom: -1px;

        .tab {
            padding: 0 70px;
            height: 72px;
            background: #FFFFFF;
            border: 1px solid $line-color-grey;
            border-radius: 10px 10px 0px 0px;
            margin-left: 10px;
            cursor: pointer;

            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: #333333;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sub-tab {
            height: 49px;
        }
        .sub-tab:first-child {
            margin-left: 0;
        }

        .tab.active {
            border: none;
            background-color: $primary-color-red;
            color: #FFFFFF;
        }
    }

    .sub-tab-menu {
        padding: 32px 0 0 36px;
    }

    /* 하단 value */
    .training-value {
        border: 1px solid $line-color-grey;
        border-radius: 14px;
        height: 540px;
        margin-bottom: 38px;
        overflow: hidden;
        // overflow: auto;
        // padding: 32px 36px;

        .training-value-tab {
            border-radius: 14px;
            height: 540px;
            overflow: auto;
        }

        .training-value-tab::-webkit-scrollbar {
            width: 13px;
        }
        .training-value-tab::-webkit-scrollbar-thumb {
            background-color: $border-color-gery;
            border-radius: 4px;
        }
        .training-value-tab::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        .table {
            padding: 32px 36px;
        }
        
        .sub-table {
            // padding: 0 36px 32px 36px;
        }
        .sub-table-wrapper {
            padding: 0 36px 32px 36px;

            .sub-table {
                // border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid black;
            }
        }

        /* 그리드 */
        .grid {
            width: 100%;
            height: 100%;
        }

        .ag-theme-alpine {
            // width: 110%;
            overflow-y: hidden;
        }

        .ag-cell-last-left-pinned {
            text-align: left;
        }

        .ag-header-cell, .ag-header-group, .ag-header-group-cell, .ag-cell-last-left-pinned,
        .ag-cell-not-inline-editing.ag-cell-normal-height.cell-span.ag-cell-value {
            background-color: #E8E8E8;
        }

        .ag-pinned-left-header {
            .ag-cell-label-container {
                // border-left: none !important;
            }
            .ag-header-cell-label {
                justify-content: left !important;
            }
        }

        .ag-header-cell {
            padding: 0 2px;
        }

        .ag-body-vertical-scroll {
            display: none;
        }

        .cell-span {
            // background-color: #00e5ff;
            background-color: var(--ag-background-color);
            border-bottom: var(--ag-row-border-style) var(--ag-row-border-color) var(--ag-row-border-width);
            font-weight: 600;
            font-size: 16px;
        }
    }

    .title {
        border-bottom: 1px solid $primary-color-red;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 17px 26px;

        .excel {
            width: 116px;
            height: 36px;
            background: #FFFFFF;
            border: 1px solid #BEBEBE;
            border-radius: 100px;
            padding: 0 20px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            p {
                font-weight: 600;
                font-size: 16px;
                line-height: 17px;
                color: #2B2B2B;
            }
        }
    }

}