@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../assets/font/NotoSansKR-Thin.otf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../assets/font/NotoSansKR-Light.otf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../assets/font/NotoSansKR-Regular.otf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../assets/font/NotoSansKR-Medium.otf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../assets/font/NotoSansKR-Bold.otf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../assets/font/NotoSansKR-Black.otf') format('truetype');
    font-weight: 900;
}

/* 공통 */
* {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    // letter-spacing: -0.02em;
}

/* 그리드 */
.ag-header-group-cell-label, .ag-header-cell-label {
    display: flex;
    justify-content: center !important;
}

/* 페이징 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: white;
}

ul.pagination li.active {
    background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: blue;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
}

/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    //스타일 입력
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    //스타일 입력
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    //스타일 입력
}