
.main-container {

    /* 상단 우측 nav */
    .nav {
        text-align: right;
        margin: 20px 0;

        p {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            font-size: 16px;
            line-height: 19px;
        }
    }

    /* KPI Performance 차트, 그리드 */
    .value {
        border: 1px solid #D8D8D8;
        border-radius: 14px;
        // height: 689px;
        margin-bottom: 38px;
        overflow: auto;

        .chart {
            // height: 50%;
            height: 270px;
            margin: 28px 18px 8px 18px;
        }

        .grid {
            width: 100%;
        }

        .ag-theme-alpine {    
            height: 267px;
        }
    }

    .title {
        border-bottom: 1px solid #BB0841;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin: 0;
        padding: 17px 26px;
    }
    
    .sub-title {
        text-align: left;
        display: flex;
        align-items: center;

        font-weight: 600;
        font-size: 22px;
        line-height: 26px;

        svg  {
            width: 30px !important;
        }
    }

    /* Notice, FAQ, CS Talk 카드 */
    .card {
        display: flex;
        justify-content: space-between;

        div[class^=card-] {
            border: 1px solid #D8D8D8;
            border-radius: 14px;
            height: 400px;
        }
        .card-notice {
            width: 50%;
        }
        .card-faq, .card-cstalk {
            width: 22.5%;
        }

        .card-notice .list {
            display: flex;
        }

        .card-cstalk .circle {
            margin-bottom: 20px;
        }
        
        .list {
            padding: 20px;

            .left {
                margin-right: 19px;
            }

            .circle {
                width: 72px;
                height: 72px;
                border-radius: 50%;
                background: #BB0841;
                color: #FFFFFF;
                text-align: center;
 
                .day {
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 21px;
                    padding: 12px 0 2px 0;
                }

                .month {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 21px;
                }
            }
            
            .mainlist {
                flex-grow: 1;
                word-break: keep-all;
                margin-bottom: 20px;

                .bold {
                    // display: flex;
                    // align-items: center;

                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                    color: #333333;

                    svg {
                        // margin-left: 7px;
                        margin-bottom: -3px;
                    }
                }
                 
                .normal {
                    margin-top: 4px;
                    font-size: 15px;
                    line-height: 21px;
                    color: #4E4E4E;
                }
            }

            .sublist {
                li {
                    border-top: 1px solid #D9D9D9;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 0; 

                    
                    .qst-no {
                        width: 85px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 17px;
                        color: #BF0C3F;
                    }
                    p {
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 19px;
                    }
                    svg { 
                        margin-right: 5px;
                    }
                }


            }
        }  
    }
}