$primary-color-red : #BB0841;
$primary-color-grey : #323232;

<<<<<<< Updated upstream
$secondary-color-gery : #FBFBFB;
$border-color-gery : #D5D5D5;
=======
$secondary-color-grey : #D5D5D5;
>>>>>>> Stashed changes

$line-color-grey : #D8D8D8;

$txt-color-edit : #2468C4;

$chart-color-pink : #FAF1F4;
$chart-color-grey : #D7D7D7