@import '../variables.scss';

* {
    letter-spacing: 0.025em;
}
.code-contents > div {
    background-color: $board-color-grey; width: 45%;
    width: 765px; border-radius: 16px; padding: 16px 20px;
}
.code-left-search .search-wrapper {
    background-color: $primary-color-red;
    width: 35px; height: 35px; border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
}
.code-contents .search-txt,
.code-contents .search-area input {
    padding: 0 10px;
}
.code-contents .search-area input{
    margin-right: 20px; font-weight: 400;
    font-size: 16px;
}
.code-contents .search-area input:focus {
    outline: none;
}
.left-search-btn button,
.code-right button  {
    font-weight: 600; font-size: 14px; line-height: 22px; border: none; padding: 5px 10px; border-radius: 5px;
}
.left-search-btn button:first-child,
.code-right button:first-child {
    background-color: white; border: 1px solid $line-color-grey; margin-right: 11px;
}
.code-right .right-detail {
    max-width: 580px;
}
.code-right .right-detail span {
    font-weight: 600;
font-size: 16px;
line-height: 17px; 
}

.code-grid,
.code-grid div {
    height: 100%;
}
.code-lists-wrapper {
    padding-top: 20px;
}
.code-lists-wrapper > div{
    height: 100%; width: 49%; border-top: 3px solid $primary-color-red;
}
.code-lists-wrapper .ag-theme-alpine {
    // height: 60vmin; 
    min-height: 700px;
}

 
/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    .code-left img {
     width: 17px;
    }
 } 
 @import '../variables.scss';

* {
    letter-spacing: 0.025em;
}
.code-contents {
    & > div {
        background-color: $board-color-grey; width: 45%;
        width: 765px; border-radius: 16px; padding: 16px 20px;
    }
    
}
.code-left-search .search-wrapper {
    background-color: $primary-color-red;
    width: 35px; height: 35px; border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
}
.code-contents .search-txt,
.code-contents .search-area input {
    padding: 0 10px;
}
.code-contents .search-area input{
    margin-right: 20px; font-weight: 400;
    font-size: 16px;
}
.code-contents .search-area input:focus {
    outline: none;
}

.left-search-btn button,
.code-right button  {
    font-weight: 600; font-size: 14px; line-height: 22px; border: none; padding: 5px 10px; border-radius: 5px;
}
.left-search-btn button:first-child,
.code-right button:first-child {
    background-color: white; border: 1px solid $line-color-grey; margin-right: 11px;
}
.code-right .right-detail {
    max-width: 580px;
}
.code-right .right-detail span {
    font-weight: 600;
font-size: 16px;
line-height: 17px; 
}

.code-grid,
.code-grid div {
    height: 100%;
}
.code-lists-wrapper {
    padding-top: 20px;
}
.code-lists-wrapper {
    & > div {
        height: 100%; width: 49%; border-top: 3px solid $primary-color-red;
    }
    .row-select {
        padding: 5px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        width: 70px;
    text-align: center;
        option {
            padding-right: 10px;
        }
    }
}
#react-select-28-listbox {
    z-index: 100000; width: 100px;  background-color: #CCCCCC; opacity: 1;
}
.code-lists-wrapper .ag-theme-alpine {
    // height: 60vmin; 
    min-height: 700px;
}

 
/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    .code-left img {
     width: 17px;
    }
 } 
 
 /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
 @media all and (min-width:768px) and (max-width:1023px) {
     
 } 
 
 /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
 @media all and (max-width:767px) {
     //스타일 입력
 }



 /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
 @media all and (min-width:768px) and (max-width:1023px) {
     
 } 
 
 /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
 @media all and (max-width:767px) {
     //스타일 입력
 }


