@import '../variables';

.faq-setting {
    border: 1px solid #D8D8D8; border-radius: 10px; 
     padding: 10px 0;
     ul { 
        width: 85%; overflow-x: auto;
     }
     ul + div {
        width: 1px; background-color: #D8D8D8; 
     }
    .buttons {
        width: 87px; height: 44px; border: 1px solid #D8D8D8; display: flex; border-radius: 5px;
        align-self: center;
        button {
            border: none; background-color: #FBFBFB;   width: 50%;
        } 
        button:first-child {
            border-radius: 5px 0px 0px 5px; 
            img {
                vertical-align: middle; width: 10px;
            }
        }
        button:last-child {
            border-radius:  0px 5px 5px 0px; border-left: 1px solid #D8D8D8;
        }
    }
   .alert-bottom {
    display: flex !important;
    justify-content: end !important;
    }
   & + .faq-contents {
    margin-top: 30px;
    .faq-left, .faq-setting-right {
        height: 648px;
    }
    .pagination {
        padding-top: 9px !important;
    }
    .write-btn {
        bottom: 0px !important;
    }
        .faq-setting-right::-webkit-scrollbar {
        width: 8px;
        }
        
        .faq-setting-right::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
        }
        
        .faq-setting-right::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        } 
   }
   & + .faq-contents .faq-left {
    flex-direction: column;
    position: relative;
    .custom-scroll-area {
        max-height: 534px !important;
        min-height: 534px !important;
    }
    .write-btn {
        margin-top: 9px;
    }
}
}
.faq-custom-board {
    // max-height: 486px;
    overflow: auto;
   }
    /* 스크롤바 스타일링 */
  .faq-custom-board::-webkit-scrollbar {
    width: 8px;
  }
  
  .faq-custom-board::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .faq-custom-board::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }  
.faq-img-wrapper img {
    max-width: 44px ; max-height: 44px;
}
.faq-setting-tab {
    min-height: 45px; overflow-x: auto ;
    & > div:first-child {
        align-self:end;
    }
   
    ul {
        li { 
            border-radius: 10px 10px 0px 0px;
            width: 135px; height: 45px; font-size: 14px; font-weight: 600;
            line-height: normal; letter-spacing: 0.14px;
            border: 1px solid #D8D8D8; margin-right: 13px;
           
        }
    }
    .buttons {
        min-width: 63px;
        height: 32px;
        border: 1px solid #D8D8D8;
        display: flex;
        border-radius: 5px;
        align-self: center;
        button {
            border: none;
            background-color: #FBFBFB;
            width: 50%;
        }
        button:first-child {
            border-radius: 5px 0px 0px 5px;
            img {
                width: 8px; vertical-align: middle;
            }
        }
        button:last-child {
            border-radius: 0px 5px 5px 0px;
            border-left: 1px solid #D8D8D8;
        }
    }
}
.faq-setting-tab::-webkit-scrollbar {
    width: 8px; height: 10px;
}

.faq-setting-tab::-webkit-scrollbar-thumb {
    background-color: #D7D7D7;
    border-radius: 4px;
}

.faq-setting-tab::-webkit-scrollbar-track {
    background-color: #f1f1f1;
} 
.faq-setting-right {
    width: 49%; 
    border-radius: 10px; border: 1px solid #E8E8E8; overflow: auto;
}