@import '../variables';

.kpisetting-container {
    /* 검색 nav 영역 */
    .kpi-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #D6D6D6;
        border-radius: 14px;
        padding: 10px 20px;
        margin-bottom: 20px;

        .nav-header {
            width: 21%;
            color: #4E4E4E;
            font-size: 21px;
            font-weight: 600;
            letter-spacing: 0.21px;
            padding-left: 5px;
        }

        .nav-left {
            display: flex;
            align-items: center;
            width: 70%;
            // justify-content: space-around;

            .nav-line {
                margin-right: 60px;
            }

            .attach-input {
                width: 605px;
                padding: 10px 14px;
                border-radius: 5px;
                border: 1px solid #CCC;
                background: #FFF;
                color: #5F5F5F;
                font-size: 16px;
                margin-right: 5px;
            }

            .file-select-btn {
                width: 72px;
                height: 40px;
                background: #E8E8E8;
                border-radius: 100px;
                border: none;
                margin-left: 11px;

                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: $primary-color-red;
            }

            .confirm-txt {
                color: $primary-color-red;
            }
        }

        .nav-right {
            display: flex;
            align-items: center;
            width: 12%;
            justify-content: space-evenly;
        }

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 17px;
        }

        .css-b62m3t-container {
            width: 179px;
        }

        .nav-line {
            height: 84px;
            border: 1px solid #EBEBEB;
            margin-right: 30px;
        }

        button[class^=nav-btn-] {
            width: 88px;
            height: 44px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
        }

        .nav-btn-black {
            border: none;
            background: $primary-color-grey;
            color: #FFFFFF;
        }
        .nav-btn-black:disabled {
            color: #888888;
            background: #D8D8D8;
        }
        .nav-btn-white {
            border: 1px solid $line-color-grey;
            background: #FFFFFF;
            color: #5F5F5F;
        }
        .nav-btn-red {
            border: none;
            background: $primary-color-red;
            color: #FFFFFF;
        }

        .btn-modify button:first-child {
            margin-right: 11px;
        }
    }
}