@import '../variables';

.user-container {

    /* 상단 검색 nav */
    .user-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #D6D6D6;
        border-radius: 14px;
        padding: 10px 20px;

        .nav-left {
            display: flex;
            align-items: center;
            width: 65%;
            justify-content: space-around;
        }

        .nav-right {
            display: flex;
            align-items: center;
            width: 30%;
            justify-content: space-evenly;
        }

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 17px;
        }

        .css-b62m3t-container {
            width: 179px;
        }

        .circle {
            width: 88px;
            height: 88px;
            border: none;
            border-radius: 50%;
            background: $primary-color-red;
            color: #FFFFFF;
            text-align: center;
            cursor: pointer;

            p {
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                padding: 30px 0 5px 0;
            }
        }

        .nav-line {
            height: 84px;
            border: 1px solid #EBEBEB;
        }

        button[class^=nav-btn-] {
            width: 88px;
            height: 44px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
        }

        .nav-btn-black {
            border: none;
            background: $primary-color-grey;
            color: #FFFFFF;
        }
        .nav-btn-white {
            border: 1px solid $line-color-grey;
            background: #FFFFFF;
            color: #5F5F5F;
        }
        .nav-btn-red {
            border: none;
            background: $primary-color-red;
            color: #FFFFFF;
        }

        .btn-modify button:first-child {
            margin-right: 11px;
        }
    }

    /* 하단 Grid */
    .user-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        border-top: 2px solid #BB0841;

        .grid {
            flex: 1;
        }

        .ag-theme-alpine {    
            min-height: 100vh !important;
        }
    }

    .row-select {
        width: 100%;
        padding: 5px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
    }
}